.center {
    display: grid;
    justify-content: center;
    align-items: center;
}
#toplogo {
    margin-top: 20%;
    width: 10vw;
    min-width: 128px;
    height: auto;
}
header {
    position: relative;
    background: linear-gradient(45deg, #5cd2ff, #5b67ff, #681ae4);
    height: 70vh;
}
