a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menu {
    position: fixed;
    -webkit-user-select: none;
    user-select: none;
    width: 15%;
    min-width:200px;
    background: linear-gradient(-30deg,#2a3d67,#14264e);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    margin: -12px 0 0 0;
    padding-top: 20px;
    height: 100%;
    top: 0;

}
.link{
    padding: 10px 0 0 0;
    font-size: 22px;
    display: block;
    color: white;
    padding: .5rem .75rem;
    transition: all .1s ease-out;
    border-left: 2px solid #576a85;
    margin: .5rem;
    font-weight: 500;
}
a.link:hover{
    color: tomato;
    background: #1d375d;
}